.card-img-top{
  height: 250px;
  object-fit: cover;
}
.card{
      margin-top: 60px;
       margin-bottom: 60px!important;
}
.task-info{
  //width:60%;
  margin: auto;
}
button{
  margin-bottom: 20px;
}
