<app-nav></app-nav>
<div class="container"  *ngIf="taskDetail && imageUrl">
<div class="card mb-3 tasks-card details-cards">
  <div class="card-img-top">
  <img src='{{ imageUrl }}' class="card-img-top">
  </div>
  <div class="card-body">
    <h5 class="card-title text-center">{{taskDetail.ttitle}}</h5>
        <div class="task-info">
<p class="card-text"><span>Description:&emsp;</span> {{ taskDetail.tdesc }}</p>
<p class="card-text"><span>State:&emsp;</span> {{ taskDetail.tstate }}</p>
<p class="card-text"><span>City:&emsp;</span> {{ taskDetail.tcity }}</p>
<p class="card-text"><span>Street:&emsp;</span> {{ taskDetail.tstreet }}</p>
<p class="card-text"><span>Offer:&emsp;</span>${{ taskDetail.tprice * taskDetail.tduration}}  for {{taskDetail.tduration}} hours </p>
</div>
<app-bid-modal></app-bid-modal>
  </div>
</div>



</div>
