 <div class="tasks">

<h2 class="text-center">Tasks You Posted</h2>
    <div *ngFor="let task of user.tasks" class="task">
      <h5 class="tasktitle">{{task.ttitle}}</h5>
      <div class="container">
        <div class="row">
      <div class="col-sm-6 text-center">
        <h4>Details</h4>
      <div class="taskdesc">
        <h6>Description: </h6>
          <p>{{task.tdesc}}</p>
      </div>
      <div class="taskcontent">
          <div class="taskdetail">
            <div class="tsdp"> <h6>Offered Price: </h6> <p>{{ task.tprice}} $</p> </div>
            <div class="tsdp2"> <h6>Duration in Hours: </h6> <p>{{ task.tduration}}</p></div>
          </div>
          </div>
                <div class="actions">
       <button  class="btn btn-remove">Remove Job</button>
       <button  class="btn">Edit Job</button>
      </div>
          </div>

          <div class="col-sm-6 text-center">
          <div class="bids">
            <h4>Bids</h4>
            <div *ngFor="let bid of task.bids" class="bidsfortask">
                <p class="bid">Bid: {{bid.btitle}} Offer for Job: {{ bid.bprice}} $</p>
            </div>
          </div>
      </div>
      <div class="actions">
        <span><button  class="btn btn-danger">Remove Job</button></span>
        <span><button  class="btn btn-primary">Edit Job</button></span>

      </div>

    </div>
  </div>
