.tasks{
  padding: 5px;
  width: 900px;
  height: auto;
  // border: 1px black solid;
}

.task{
  width: 100%;
  height: auto;
  border-bottom: 1px black solid;
}

.taskdesc{
  width: 25%;
  height: 200px;
  // border-right: 1px grey solid;
  display: inline-block;
  vertical-align: top;
  background: linear-gradient(90deg, rgba(178,179,183,0) 91%, rgba(0,1,7,1) 100%);
}

.taskcontent{
  width:75%;
  height: 200px;
  // border: 1px yellow solid;
  display: inline-block;
  vertical-align: top;

}
.bids{
  height: 80%;
  overflow-y: scroll;
}
